#createJotButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  background-color: red;
  color: white;
  border: 1px solid white;
  width: 70px;
  height: 70px;
  font-size: 3em;
  cursor: pointer;
}

.centerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.jot {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #7777;
}

#menuButton {
  position: absolute;
  top: 2px;
  left: 2px;
  cursor: pointer;
}

#jotsPanel {
  margin-bottom: 70px;
}
